.Square {
    width: 25px;
    height: 25px;
    /*background-color: #f4f9d9;*/
    vertical-align: bottom;
    padding: 0;
}

.clicked-square,
.allowed-hover:hover {
    background-color: chartreuse;
}


.chosen-square{
    font-family: Consolas, sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: beige;
}