.App {
    text-align: center;
    display: inline-block;
    width: 241px;
    height: auto;
}

.square {
    /*display: inline-block;*/
    width: 25px;
    height: 25px;
    background-color: antiquewhite;
    vertical-align: bottom;
}