.Board {
    text-align: center;
    display: inline-block;
    width: 245px;
    height: auto;
}



.span-square{
    display: inline-block;
    width: auto;
    height: auto;
}

.span-column{
    border-right: solid 2px #636364;
}

.span-row{
    border-bottom: solid 2px #636364;
}